= @message

\------------------------------------------------------------
= "This message was remailed to you via #{@orig_to}."
= render :partial => 'shared/email_footer'
\------------------------------------------------------------