html, #main_top, #main_bottom, #footer {
    background-color: #F6F2A8;
}
.hint p, th, .even td, .errors, #message {
    background-color: #DAE4DF;
}
.error p {
	background-color: #C31701;
	color: #FFFFFF;
}
#footer, h1 {
    color: #27599D;
}

h1 {
    border-color: #27599D;
}

h1.error {
    color: #C31701;
    background-color: #FFF;
}

a, .ride_header {
    color: #27599D;
}

.errors h3 {
    color: #C31701;
}