html {
	background-color: #CCC;
	font: normal 14px/1.1em "Lucida Grande";
	color: #333;
}
body {
	width: 700px;
	padding: 0;
	margin: 30px auto;
	background-color: #FFF;
}
#main {
	background: url(/images/bg_mid.gif);
	padding: 0 20px 1.2em 20px;
	margin: 0;
}
#main_top {
	height: 10px;
	margin: 0;
	padding: 0;
	background: url(/images/bg_top.gif);
}
#main_bottom {
	height: 10px;
	margin: 0;
	padding: 0;
	background: url(/images/bg_bottom.gif);
}
h1 {
	font: bold 20px "Lucida Grande", "Verdana";
	color: #404040;
	margin: 0 0 1em 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid #404040;
	position: relative;
	width: 100%;
}
.event_location {
	position: absolute;
	right: 0px;
	top: 6px;
	font: italic 12px "Lucida Grande", "Verdana";
	width: 180px;
	text-align: right;
}
h2 {
	font-size: 14px;
	margin: .5em 0;
}
p {
	line-height: 1.2em;
	margin-bottom: .6em;
}
strong {
	font-weight: bold;
}
.text {
	width: 250px;
}
textarea {
	width: 250px;
	height: 100px;
}
td {
	vertical-align: top;
	padding: 1px;
	margin: 2px;
}
.hint {
	background: url(/images/arrow.gif) 2px left no-repeat;
}
.hint p {
	font-size: 10px;
	margin: 0 0 0 9px;
	padding: 1px 3px;
	background-color: pink;
}
#rides {
	margin-top: 2em;
	border-top: 2px solid #333;
}
.ride {
	border-top: 1px solid #333;
}
.ride_body {
	padding-bottom: 3px;
}
th {
	background-color: #DDD;	
	font-weight: bold;
	padding: 4px 4px 4px 2px;
}
.even td {
	background-color: #DDD;
}
h3 {
	margin-bottom: .5em;
}
.errors {
	padding: 4px;
	background-color: #FCE9C8;
}
.errors h3 {
	color: #E22131;
	font-weight: bold;
}
.errors li {
	font-size: 12px;
	padding-bottom: 2px;
}