html {
	font: normal 14px/1.1em "Lucida Grande", "Verdana";
	color: #333;
}
a {
}
.message {
	font-weight: bold;
	padding: 4px;
	margin: 1.2em 0;
}
body {
	width: 700px;
	padding: 0;
	margin: 30px auto;
}
#main {
	background: url(/images/bg_mid.gif);
	padding: 0 20px 1.2em 20px;
	margin: 0;
	background-color: #FFF;
}
#main_top, #main_bottom {
	height: 10px;
	margin: 0;
	padding: 0;
	background: url(/images/bg_top.gif);
}
#main_bottom {
	background: url(/images/bg_bottom.gif);
}
h1 {
	font: bold 20px "Lucida Grande", "Verdana";
	margin: 0 0 1em 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid #404040;
	position: relative;
	width: 100%;
}
.event_location {
	position: absolute;
	right: 40px;
	top: 6px;
	font: italic 12px "Lucida Grande", "Verdana";
	text-align: right;
}
h2 {
	font-size: 14px;
	margin: .5em 0;
}
p {
	line-height: 1.2em;
	margin-bottom: .6em;
}
strong {
	font-weight: bold;
}
.label {
    width: 150px;
}
.text {
	width: 250px;
}
textarea {
	width: 250px;
	height: 100px;
}
td {
	vertical-align: top;
	padding: 1px;
	margin: 2px;
}
.hint {
	background: url(/images/arrow.gif) no-repeat left 1px;
	border-bottom: 4px solid #FFF;
}
.hint p {
	font-size: 10px;
	margin: 0 0 0 9px;
	padding: 1px 3px 1px 4px;
	
}
#rides {
	margin-top: 2em;
	border-top: 2px solid #333;
}
.ride {
	border-top: 1px solid #333;
}
.ride_header {
	cursor: pointer;
}
.ride_body {
	padding-bottom: 3px;
}
th {	
	font-weight: bold;
	padding: 4px 4px 4px 2px;
	width: 320px;
}
h3 {
	margin-bottom: .5em;
}
.errors {
	padding: 4px;
	margin-bottom: 1em;
}
.errors h3 {
	font-weight: bold;
}
.errors li {
	font-size: 12px;
	padding-bottom: 2px;
}
#footer {
	width: 100%;
	padding-top: 1em;
	margin: 0;
	text-align: right;
	font-size: 10px;
}
#footer a {
    text-decoration: none;
}