html, body, #footer {
    background-color: #F6F2A8;
}
.hint, th, .even td, .errors, .message {
    background-color: #DAE4DF;
}

#footer, h1 {
    color: #27599D;
}

h1 {
    border-color: #27599D;
}

h1.error {
    color: #C31701;
    border-color: #C31701;
}

a, .message, .ride_header {
    color: #27599D;
}

.errors h3 {
    color: #C31701;
}