html, #main_top, #main_bottom, #footer {
    background-color: #DFE2E7;
}
.hint p, th, .even td, .errors, #message {
    background-color: #C7C8CC;
}
.error p {
	background-color: #8A79AA;
	color: #FFFFFF;
}
#footer, h1 {
    color: #8A79AA;
}

h1 {
    border-color: #8A79AA;
}

h1.error {
    color: #8A79AA;
}

a, .ride_header {
    color: #8A79AA;
}

.errors h3 {
    color: #8A79AA;
}

.small {
	border-color: #8A79AA;
	color: #8A79AA;
}