<p>Event Name: <%= f.text_field :name %></p>
<p>Event Slug: <%= f.text_field :slug %></p>
<p>Event Location: <%= f.text_field :location %></p>
<p>Event Date: <%= f.calendar_date_select :starts_on, :time => false,
                    :year_range => 1 %></p>
<p>Contact Name: <%= f.text_field :contact %></p>
<p>Contact Email: <%= f.text_field :email %></p>
<p><%= submit_tag "Save" %></p>