<p>Your name: <%= f.text_field :driver %></p>
<p>Your email: <%= f.text_field :email %></p>
<p>Your phone: <%= f.text_field :phone %></p>
<p>Leaving from: <%= f.text_field :location %></p>
<p>Leaving at: <%= f.text_field :leave_at %></p>
<p>Returning at: <%= f.text_field :return_at %></p>
<p>Seats available: <%= f.select :seats, (1..6).to_a %></p>
<p>Anything else? <%= f.text_area :comment %></p>
<%= submit_tag %>
