<p>Your name: <%= f.text_field :driver %></p>
<p>Your email: <%= f.text_field :email %></p>
<p>Your phone: <%= f.text_field :phone %></p>
<p>Leaving from: <%= f.text_field :location %></p>
<p>Seats available: <%= f.select :seats, (@ride.min_seats..6).to_a %></p>
<p>Anything else? <%= f.text_area :comment %></p>
