<h4 class="ride_header">Leaving from <%= h ride.location %> on <%= h ride.leave_at %>. <%= pluralize ride.seats, "seat" %> open.</h4>
<p class="ride_body">Who's driving? <%= mail_to ride.email, h(ride.driver) %><%= " (#{h ride.phone})" unless (ride.phone.nil? || ride.phone.strip.empty?) %><br/>
<%= "Details: #{h ride.comment}" unless (ride.comment.nil? || ride.comment.strip.empty?) %>.</p>