<p>Leaving from <%= h ride.location %> on <%= h ride.leave_at %>. <%= pluralize ride.seats, "seat" %> open.<br/>
Returning: <%= h ride.return_at %>.<br/>
Who's driving? <%= mail_to ride.email, h(ride.driver) %><%= " (#{h ride.phone})" unless ride.phone.strip.empty? %></p>
<% form_for Request.new, :url => requests_path(:event_id => @event, :ride_id => ride) do |f| %>

<% end %>