%table#rides{:cellspacing=>'0', :cellpadding=>'0', :border=>'0'}
  %tr
    %th Leaving from
    %th Room for
  - @event.available_rides.each do |ride|
    = render :partial => 'rides/ride', :locals => { :ride => ride, :style => cycle('odd', 'even')}
- if flash[:updated]
  - logger.info flash[:updated]
  %script{:type=>'text/JavaScript'}
    == Nicely.flash_updated_row(#{flash[:updated]});