<table id="rides" cellspacing="0" cellpadding="0" border="0">
<tr><th>Leaving from</th><th>Room for</th></tr>

<% for ride in @event.available_rides -%>
	<%= render :partial => "rides/ride", :locals => { :ride => ride, :style => cycle('odd', 'even') } %>
<% end -%>

</table>