!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :version=>"-//W3C//DTD XHTML 1.1//EN", 'xml:lang'=>"en"}
  %head
    %meta{'http-equiv'=>'Content-Type', :content=>'application/xhtml+xml; charset=utf-8'}/
    %title= @page_title
    = stylesheet_link_tag 'reset', 'fancypants', 'pieman'
    = javascript_include_tag "mootools", "application"
    / = calendar_date_select_includes
    %link{:rel=>'shortcut icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}/
    %link{:rel=>'icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}/
  %body
    #main_top
    #main
      = yield
    #main_bottom
    #footer
      &copy; 2008 Thumblebee.com